@import "../../../styles.scss";

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.Paper {
  -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
  padding: 100px;
  width: $pageWidth;
  height: $pageHeight;
  // margin: 50px;
  position: relative;
  .counter {
    position: absolute;
    bottom: 40px;
    right: 50px;
    opacity: 0.8;
    font-size: 16pt;
    font-weight: 500;
  }
}

.Name {
  @include flex(s, s, c);
  // max-width: 300px;
  font-size: $headersFS;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 40px;
  span {
    font-family: $headersFont;
    // color: $mainColor;
  }
}

.Title {
  font-family: $headersFont;
  // max-width: 300px;
  font-size: $titleFS;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  padding: 2px;
  margin: 10px 0;
  color: $mainColor;
}

.Section {
  margin-bottom: $sectionsMarginBot;
  .header {
    margin-bottom: 20px;
    color: $mainColor;
    font-size: $subHeadersFS;
    font-family: $subHeadersFont;
    text-transform: uppercase;
  }
  .body {
    display: flex;
    .sideLineAndIcons {
      @include flex(s, c, c);
      margin-inline-end: 20px;
      img {
        width: $icon;
        height: $icon;
        margin-bottom: 20px;
      }
      .line {
        height: 100%;
        width: $lineWidth;
        background-color: $mainColor;
      }
      .filler {
        width: $icon;
        height: $filler;
      }
    }
    .content {
      font-size: $textFS;
      font-weight: $textWeightReg;
    }
  }
}

.Work {
  h3 {
    font-size: $textFS;
    font-weight: $textWeightBold;
    &:nth-child(2) {
      color: $mainColor;
    }
  }
  ul {
    margin-bottom: 30px;
    li {
      font-size: $textFS;
      &:last-child {
        color: $mainColor;
      }
    }
  }
}

.Education {
  .edu {
    h3 {
      font-weight: $textWeightBold;
      font-size: $textFS;
      &:nth-child(2) {
        color: $mainColor;
      }
    }
    ul {
      li {
        font-size: $textFS;
      }
    }
  }
}

.edu {
  h3 {
    font-weight: $textWeightBold;
    font-size: $textFS;
    &:nth-child(2) {
      color: $mainColor;
    }
  }
  ul {
    li {
      font-size: $textFS;
    }
  }
}

.Training {
  ul {
    li {
      span {
        display: block;
        &:first-child {
          font-size: $textFS;
          font-weight: $textWeightBold;
        }
        &:nth-child(2) {
          font-size: $coursesFS;
        }
      }
    }
  }
}

.Personal {
  ul {
    li {
      font-weight: $textWeightBold;
      font-size: $textFS;
    }
  }
}

.Contacts,
.Technical,
.languageSkills,
.Projects {
  margin-bottom: $sideMarginBot;
  h3 {
    &:first-of-type {
      color: $mainColor;
      font-family: $subHeadersFont;
      font-size: $subHeadersFS;
      text-transform: uppercase;
    }
  }
}

.Contacts {
  .contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      height: $iconContacts;
      width: $iconContacts;
      display: flex;
      margin-inline-end: 10px;
    }
    a,
    span {
      color: black;
      padding: 0;
      margin: 0;
      font-size: $textFS;
    }
  }
}

.Technical {
  li {
    font-size: $textFS;
    font-weight: $textWeightReg;
  }
}

.languageSkills {
  ul {
    li {
      font-size: $textFS;
      font-weight: $textWeightReg;
    }
  }
}

.Projects {
  .notes {
    font-size: $notesFS;
    font-weight: $textWeightReg;
    margin-bottom: 10px;
  }
  ul {
    h4 {
      color: black;
      font-size: $projectsFS;
      font-weight: $textWeightBold;
      padding: 0;
      margin: 0;
    }
    h5 {
      color: black;
      font-size: $projectsFS;
      font-weight: $textWeightBold;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      font-weight: normal;
      font-size: 23px;
    }
    li {
      font-size: $projectsFS;
      margin-bottom: 25px;
      font-weight: $textWeightReg;
      a {
        color: $mainColor;
      }
      div {
        display: flex;
        width: 300px;
      }
    }
  }
}
