<div class="container-fluid d-flex containerFluid">
  <div
    class="d-flex flex-row-reverse justify-content-between componentContainer"
  >
    <!-- -------------------------------------------- pages -------------------------------------------- -->
    <div class="buttons d-flex flex-column">
      <button class="btn btn-outline-danger" (click)="getDataById()">
        Get Data
      </button>
      <button class="btn btn-outline-danger" (click)="update()">
        Update
      </button>
      <button class="btn btn-outline-primary" (click)="print()">Print</button>
      <!-- <button class="btn btn-outline-primary" (click)="pdf()">PDF</button> -->
    </div>
    <!-- -------------------------------------------- inputs -------------------------------------------- -->
    <div class="d-flex gap-2 flex-wrap justify-content-center row col-4 formContainer scroll">
      <div class="input-field my-1">
        <label class="text-primary">User <span *ngIf="alert" class="text-danger">(User Id Required)</span> </label>
        <input class="form-control col-5" [(ngModel)]="userId" />
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Name</label>
        <input class="form-control col-5" [(ngModel)]="dataObj.Name" />
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Title</label>
        <input class="form-control col-5" [(ngModel)]="dataObj.Title" />
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Personal Info</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.Personal"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Work Experience</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.WorkExperience"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Contacts</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.Contacts"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Technical Skills</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.TechnicalSkills"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Language Skills</label>
        <input
          class="form-control col-5"
          [(ngModel)]="dataObj.LanguageSkills"
        />
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Technical Skills Explained</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.TechnicalSkillsExplained"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Interpersonal Skills Explained</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.InterpersonalSkillsExplained"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Interpersonal Skills</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.InterpersonalSkills"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Projects</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.Projects"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Education</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.Education"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Courses</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.Courses"
        ></textarea>
      </div>

      <div class="input-field mb-1">
        <label class="text-primary">Personal Info</label>
        <textarea
          cols="30"
          rows="10"
          class="form-control col-5"
          [(ngModel)]="dataObj.PersonalInfo"
        ></textarea>
      </div>

    </div>

    <!-- -------------------------------------------- pages -------------------------------------------- -->
    <div class="paperContainer d-flex flex-column align-items-center scroll">
      <!-- page 1 -->
      <div class="pageContainer pc pc1">
        <div class="Page Paper App d-flex flex-column">
          <div class="col-12">
            <div class="Name">
              <span>{{ dataObj.Name }}</span>
              <div class="Title">{{ dataObj.Title }}</div>
            </div>
          </div>
          <div class="row d-flex justify-content-between">
            <div class="left col-64">
              <div class="Section">
                <div class="header">Personal Profile</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <img src="assets/images/location.svg" alt="" />
                    <div class="line"></div>
                  </div>
                  <div class="content">{{ dataObj.Personal }}</div>
                </div>
              </div>

              <div class="Section WorkExperience Work">
                <div class="header">Work Experience</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <img src="assets/images/circle.png" alt="" />
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    <div
                      *ngFor="
                        let elm of parser(dataObj.WorkExperience)?.slice(0, 4)
                      "
                    >
                      <h3>{{ elm.title }}</h3>
                      <h3>{{ elm.comp }}</h3>
                      <ul>
                        <li *ngIf="elm.time">{{ elm.time }}</li>
                        <li *ngIf="elm.desc">{{ elm.desc }}</li>
                        <li *ngIf="elm.period">{{ elm.period }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="right py-3 col-4">
              <div class="Contacts">
                <h3>Contacts</h3>
                <div
                  *ngFor="let elm of parser(dataObj.Contacts)"
                  class="contact"
                >
                  <div class="icon">
                    <img [src]="elm.icon" alt="" />
                  </div>
                  <a
                    *ngIf="elm.link"
                    [href]="elm.link"
                    target="_blank"
                    rel="noreferrer"
                    >{{ elm.title }}</a
                  >
                  <span *ngIf="!elm.link">{{ elm.title }}</span>
                </div>
              </div>

              <div class="Technical">
                <h3>Technical Skills</h3>
                <ul>
                  <li *ngFor="let elm of parser(dataObj.TechnicalSkills)">
                    {{ elm }}
                  </li>
                </ul>
              </div>

              <div class="languageSkills">
                <h3>language Skills</h3>
                <ul>
                  <li *ngFor="let elm of parser(dataObj.LanguageSkills)">
                    {{ elm }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <span class="counter">Page 1</span>
        </div>
      </div>
      <!-- page 2 -->
      <div class="pageContainer pc pc2">
        <div class="Page Paper App d-flex flex-column">
          <div class="col-12">
            <div class="Name">
              <span>{{ dataObj.Name }}</span>
              <div class="Title">{{ dataObj.Title }}</div>
            </div>
          </div>
          <div class="row d-flex justify-content-between">
            <div class="left col-64">
              <div class="Section WorkExperience Work">
                <div class="header">Work Experience</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <img src="assets/images/circle.png" alt="" />
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    <div
                      *ngFor="
                        let elm of parser(dataObj.WorkExperience)?.slice(4)
                      "
                    >
                      <h3>{{ elm.title }}</h3>
                      <h3>{{ elm.comp }}</h3>
                      <ul>
                        <li *ngIf="elm.time">{{ elm.time }}</li>
                        <li *ngIf="elm.desc">{{ elm.desc }}</li>
                        <li *ngIf="elm.period">{{ elm.period }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="Section">
                <div class="header">TECHNICAL SKILLS</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <img src="assets/images/location.svg" alt="" />
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    {{ parser(dataObj.TechnicalSkillsExplained) }}
                  </div>
                </div>
              </div>

              <div class="Section">
                <div class="header">SOFT SKILLS</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <div class="filler"></div>
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    {{ dataObj.InterpersonalSkillsExplained }}
                  </div>
                </div>
              </div>
            </div>
            <div class="right py-3 col-4">
              <div class="Projects">
                <h3>Projects</h3>
                <ul>
                  <li *ngFor="let elm of parser(dataObj.Projects)">
                    <h4>{{ elm?.name }}</h4>
                    <h5 *ngIf="elm.description">{{ elm?.description }}</h5>
                    <div>
                      <a
                        *ngIf="elm.code"
                        [href]="elm.code"
                        target="_blank"
                        rel="noreferrer"
                      >
                        Project Code
                      </a>
                      <a
                        *ngIf="elm.website"
                        [href]="elm.website"
                        target="_blank"
                        rel="noreferrer"
                      >
                        Visit Website
                      </a>
                      <ng-container *ngIf="elm.deployment">
                        <span>&#160;-&#160;</span>
                        <a
                          [href]="elm.deployment"
                          target="_blank"
                          rel="noreferrer"
                        >
                          Deployment
                        </a>
                      </ng-container>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <span class="counter">Page 2</span>
        </div>
      </div>
      <!-- page 3 -->
      <div class="pageContainer pc pc3">
        <div class="Page Paper App d-flex flex-column">
          <div class="col-12">
            <div class="Name">
              <span>{{ dataObj.Name }}</span>
              <div class="Title">{{ dataObj.Title }}</div>
            </div>
          </div>
          <div class="row">
            <div class="left">
              <div class="Section Education">
                <div class="header">Education</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <img src="assets/images/location.svg" alt="" />
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    <div
                      *ngFor="let elm of parser(dataObj.Education)"
                      class="edu"
                    >
                      <h3>{{ elm?.lic }}</h3>
                      <h3>{{ elm?.desc }}</h3>
                      <ul>
                        <li *ngFor="let det of elm.details">{{ det }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="Section Training">
                <div class="header">Training And Courses</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <div class="filler"></div>
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    <ul>
                      <li *ngFor="let elm of parser(dataObj.Courses)">
                        <span>{{ elm.course }}</span>
                        <span>{{ elm.details }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="Section Personal">
                <div class="header">Personal Info.</div>
                <div class="body">
                  <div class="sideLineAndIcons">
                    <div class="filler"></div>
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    <ul>
                      <li *ngFor="let elm of parser(dataObj.PersonalInfo)">
                        {{ elm }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="right py-3 col-">
            </div> -->
          </div>
          <span class="counter">Page 3</span>
        </div>
      </div>
    </div>
  </div>

</div>
