@font-face {
  font-family: "GrandBold";
  src: url("./assets/fonts/CyGrotesk-GrandBold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KeyRegular";
  src: url("./assets/fonts/CyGrotesk-KeyRegular.woff2");
  font-weight: normal;
  font-style: normal;
}

// font family
$headersFont: "GrandBold";
$subHeadersFont: "KeyRegular";
$textFonts: "Raleway", sans-serif;
$mainColor: #3142db;

// font size
$factor: 2;
$headersFS: calc(37px * $factor);
$titleFS: calc(15px * $factor);
$subHeadersFS: calc(13px * $factor);
$textFS: calc(12px * $factor);
$projectsFS: calc(11.5px * $factor);
$coursesFS: calc(10px * $factor);
$notesFS: calc(8.5px * $factor);
// font weight
$textWeightReg: 500;
$textWeightBold: 800;

// elemnts width
$factor2: 2;
$pageWidth: calc(2480px / $factor2);
$pageHeight: calc(3508px / $factor2);
$lineWidth: 2px;
$icon: 50px;
$iconContacts: 25px;
$filler: 30px;

// margins
$sectionsMarginBot: 50px;
$sideMarginBot: 60px;

@mixin flex($justify, $align, $direction) {
  display: flex;
  // justify
  @if $justify == s {
      justify-content: flex-start;
  } @else if $justify == c {
      justify-content: center;
  } @else if $justify == e {
      justify-content: flex-end;
  } @else if $justify == sb {
      justify-content: space-between;
  } @else if $justify == sa {
      justify-content: space-around;
  } @else if $justify == se {
      justify-content: space-evenly;
  }
  // align
  @if $align == s {
      align-items: flex-start;
  } @else if $align == c {
      align-items: center;
  } @else if $align == e {
      align-items: flex-end;
  }
  // align
  @if $direction == c {
      flex-direction: column;
  } @else if $direction == cr {
      flex-direction: column-reverse;
  } @else if $direction == r {
      flex-direction: row;
  } @else if $direction == rw {
      flex-direction: row-reverse;
  }
}

* {
  font-family: $textFonts;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: $mainColor;
}

ul {
  padding-left: 20px;
}

.col-64 {
  width: 64%;
}

.w-900px {
  width: 900px;
}
form {
  margin: 50px 50px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  // width: 50rem;
  textarea {
      -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
      box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
      // width: 100%;
      height: calc(100% - 40px);
      padding: 40px !important;
      font-weight: 800 !important;
      font-size: 25px !important;
      position: fixed;
      width: 55rem !important;
      height: 90vh;
  }
  .buttons {
      position: fixed;
      bottom: 20px;
      right: 20px;
      button {
          padding-top: 20px;
          height: 100px;
          width: 100px;
          border-radius: 50% !important;
          text-transform: uppercase;
          font-weight: bold !important;
          margin-inline-start: 20px;
      }
  }
}

.Paper {
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.33);
    padding: 100px;
    width: $pageWidth;
    height: $pageHeight;
    // margin: 50px;
    position: relative;
    .counter {
        position: absolute;
        bottom: 40px;
        right: 50px;
        opacity: 0.8;
        font-size: 16pt;
        font-weight: 500;
    }
}

.Name {
    @include flex(s, s, c);
    // max-width: 300px;
    font-size: $headersFS;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 40px;
    span {
        font-family: $headersFont;
        // color: $mainColor;
    }
}

.Title {
  font-family: $headersFont;
  // max-width: 300px;
  font-size: $titleFS;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  padding: 2px;
  margin: 10px 0;
  color: $mainColor;
}

.Section {
    margin-bottom: $sectionsMarginBot;
    .header {
        margin-bottom: 20px;
        color: $mainColor;
        font-size: $subHeadersFS;
        font-family: $subHeadersFont;
        text-transform: uppercase;
    }
    .body {
        display: flex;
        .sideLineAndIcons {
            @include flex(s, c, c);
            margin-inline-end: 20px;
            img {
                width: $icon;
                height: $icon;
                margin-bottom: 20px;
            }
            .line {
                height: 100%;
                width: $lineWidth;
                background-color: $mainColor;
            }
            .filler {
                width: $icon;
                height: $filler;
            }
        }
        .content {
            font-size: $textFS;
            font-weight: $textWeightReg;
        }
    }
}

.Work {
    h3 {
        font-size: $textFS;
        font-weight: $textWeightBold;
        &:nth-child(2) {
            color: $mainColor;
        }
    }
    ul {
        margin-bottom: 30px;
        li {
            font-size: $textFS;
            &:first-child {
                font-weight: $textWeightBold;
            }
            &:not(:first-child) {
                font-weight: $textWeightReg;
            }
            &:last-child {
                color: $mainColor;
            }
        }
    }
}

.Education {
    .edu {
        h3 {
            font-weight: $textWeightBold;
            font-size: $textFS;
            &:nth-child(2) {
                color: $mainColor;
            }
        }
        ul {
            li {
                font-size: $textFS;
            }
        }
    }
}
.edu {
  h3 {
      font-weight: $textWeightBold;
      font-size: $textFS;
      &:nth-child(2) {
          color: $mainColor;
      }
  }
  ul {
      li {
          font-size: $textFS;
      }
  }
}
.Training {
    ul {
        li {
            span {
                display: block;
                &:first-child {
                    font-size: $textFS;
                    font-weight: $textWeightBold;
                }
                &:nth-child(2) {
                    font-size: $coursesFS;
                }
            }
        }
    }
}

.Personal {
    ul {
        li {
            font-weight: $textWeightBold;
            font-size: $textFS;
        }
    }
}

.Contacts,
.Technical,
.languageSkills,
.Projects {
    margin-bottom: $sideMarginBot;
    h3 {
        &:first-of-type {
            color: $mainColor;
            font-family: $subHeadersFont;
            font-size: $subHeadersFS;
            text-transform: uppercase;
        }
    }
}

.Contacts {
    .contact {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon {
            height: $iconContacts;
            width: $iconContacts;
            display: flex;
            margin-inline-end: 10px;
        }
        a,
        span {
            color: black;
            padding: 0;
            margin: 0;
            font-size: $textFS;
        }
    }
}

.Technical {
    li {
        font-size: $textFS;
        font-weight: $textWeightReg;
    }
}

.languageSkills {
    ul {
        li {
            font-size: $textFS;
            font-weight: $textWeightReg;
        }
    }
}

.Projects {
    .notes {
        font-size: $notesFS;
        font-weight: $textWeightReg;
        margin-bottom: 10px;
    }
    ul {
        h4 {
            color: black;
            font-size: $projectsFS;
            font-weight: $textWeightBold;
            padding: 0;
            margin: 0;
        }
        h5{
            color: black;
            font-size: $projectsFS;
            font-weight: $textWeightBold;
            padding: 0;
            margin: 0;
            margin-top: 10px;
            font-weight: normal;
            font-size: 23px;
        }
        li {
            font-size: $projectsFS;
            margin-bottom: 25px;
            font-weight: $textWeightReg;
            a {
                color: $mainColor;
            }
            div {
                display: flex;
                width: 300px;
            }
        }
    }
}


@media print {
    .Paper {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        page-break-before: always;
        margin: 0 !important;
        width: 100%;
    }
    html {
        zoom: 95%;
        margin: 0 !important;
    }
    body {
        margin: 0px !important;
        width: $pageWidth;
    }
}

@page {
  size: A4;
    zoom: 95%;
    // size: auto; /* auto is the initial value */
    margin: 0mm !important; /* this affects the margin in the printer settings */
}
