@font-face {
  font-family: "GrandBold";
  src: url("./assets/fonts/CyGrotesk-GrandBold.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KeyRegular";
  src: url("./assets/fonts/CyGrotesk-KeyRegular.woff2");
  font-weight: normal;
  font-style: normal;
}

// font family
$headersFont: "GrandBold";
$subHeadersFont: "KeyRegular";
$textFonts: "Raleway", sans-serif;
$mainColor: #3142db;

// font size
$factor: 2;
$headersFS: calc(37px * $factor);
$titleFS: calc(15px * $factor);
$subHeadersFS: calc(13px * $factor);
$textFS: calc(12px * $factor);
$projectsFS: calc(11.5px * $factor);
$coursesFS: calc(10px * $factor);
$notesFS: calc(8.5px * $factor);
// font weight
$textWeightReg: 500;
$textWeightBold: 800;

// elemnts width
$factor2: 2;
$pageWidth: calc(2480px / $factor2);
$pageHeight: calc(3508px / $factor2);
$lineWidth: 2px;
$icon: 50px;
$iconContacts: 25px;
$filler: 30px;

// margins
$sectionsMarginBot: 50px;
$sideMarginBot: 60px;

@mixin flex($justify, $align, $direction) {
  display: flex;
  // justify
  @if $justify == s {
      justify-content: flex-start;
  } @else if $justify == c {
      justify-content: center;
  } @else if $justify == e {
      justify-content: flex-end;
  } @else if $justify == sb {
      justify-content: space-between;
  } @else if $justify == sa {
      justify-content: space-around;
  } @else if $justify == se {
      justify-content: space-evenly;
  }
  // align
  @if $align == s {
      align-items: flex-start;
  } @else if $align == c {
      align-items: center;
  } @else if $align == e {
      align-items: flex-end;
  }
  // align
  @if $direction == c {
      flex-direction: column;
  } @else if $direction == cr {
      flex-direction: column-reverse;
  } @else if $direction == r {
      flex-direction: row;
  } @else if $direction == rw {
      flex-direction: row-reverse;
  }
}

* {
  font-family: $textFonts;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
  height: 100%;
}

a {
  color: $mainColor;
}

ul {
  padding-left: 20px;
}

.col-64 {
  width: 64%;
}

.w-900px {
  width: 900px;
}

.flex-1{
  flex: 1;
}

@media print {
    .Paper {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        page-break-before: always;
        margin: 0px !important;
        width: 100%;
    }
    html {
        zoom: 95%;
        margin: 0 !important;
    }
    body {
        margin: 0px !important;
        width: $pageWidth;
    }
}

@page {
  size: A4;
    zoom: 95%;
    // size: auto; /* auto is the initial value */
    margin: 0mm !important; /* this affects the margin in the printer settings */
}
